.signin {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-container {
  min-width: 85%;
  min-height: 30vw;
  position: relative;
}

.form-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.img-container {
  overflow: hidden;
}

.bg-image {
  min-width: 640px;
}

.form-title {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.form-fields {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0.5rem;
  font-size: 1vw;
}

.form-input {
  background-color: red;
}

.form-input textarea {
  font-size: 1px;
}

.form-input:focus {
  border: none;
  outline: none !important;
}

.lable {
  color: #fff;
  opacity: 0.8;
}

.form-login-btn {
  margin: 0 !important;
}
