.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px; /* Change this value to adjust the maximum width of the carousel */
    margin: 80px auto; /* This centers the carousel */
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 auto;
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

  /* The following styles add the automatic sliding functionality */
.carousel-container:hover .carousel {
    animation-play-state: paused;
}

.carousel {
    animation: slide 5s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    45% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    70% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    95% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-400%);
    }
}